.fondo-gris {
    background-color: #f0efef; /* Color gris de fondo */
    padding: 10px; /* Relleno para separar el texto del fondo gris */
    margin: 0; /* Elimina el margen predeterminado */
  }
  